<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
<!-- our servlet -->
    <servlet>
        <servlet-name>
		PhpJavaServlet
        </servlet-name>
        <servlet-class>
		php.java.servlet.PhpJavaServlet
        </servlet-class>
    <init-param>
      <param-name>clientInputTimeout</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>cgiPathPrefix</param-name>
      <param-value>WEB-INF/cgi</param-value>
    </init-param>

    <!-- Allow us to override the java.hosts, java.servlet and -->
    <!-- java.socketname settings from your php.ini so that we can -->
    <!-- use the current VM. -->
    <init-param>
      <param-name>override_hosts</param-name>
      <param-value>On</param-value>
    </init-param>

    <!-- Your php binary, for example c:/php5/php.exe, php or /usr/bin/php. -->
    <init-param>
      <param-name>php_exec</param-name>
      <param-value>php</param-value>
    </init-param>

    <!-- Default log_level is 2, java.log_level from your php.ini overrides. -->
    <init-param>
      <param-name>servlet_log_level</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>

<!-- URL -->
    <servlet-mapping>
        <servlet-name>PhpJavaServlet</servlet-name> 
        <url-pattern>/PhpJavaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhpJavaServlet</servlet-name>
        <url-pattern>
		*.php
        </url-pattern>
    </servlet-mapping>
</web-app>
