<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <!-- PHP Servlet -->
    <servlet>
        <servlet-name>PhpJavaServlet</servlet-name>
        <servlet-class>php.java.servlet.PhpJavaServlet</servlet-class>
        <load-on-startup>0</load-on-startup>

         <!-- Allow us to override the java.hosts, java.servlet and -->
         <!-- java.socketname settings from your php.ini so that we can -->
         <!-- use the current VM (see X_JAVABRIDGE_OVERRIDE_HOSTS). -->
         <!-- Default is On. -->
        <!-- 
         <init-param>
           <param-name>override_hosts</param-name>
           <param-value>Off</param-value>
         </init-param>
        -->

         <!-- Your php binary. Default is /usr/bin/php-cgi, /usr/bin/php or -->
         <!-- c:/php5/php-cgi. -->
        <!-- 
         <init-param>
           <param-name>php_exec</param-name>
           <param-value>php-cgi</param-value>
         </init-param>
        -->

         <!-- Use the fast cgi interface instead of cgi when running -->
         <!-- php as a CGI sub component (when php is not installed as an -->
         <!-- Apache or IIS module). Values: Off, On, Autostart. -->
         <!-- Default is true. -->
       <!--
         <init-param>
           <param-name>use_fast_cgi</param-name>
           <param-value>Autostart</param-value>
         </init-param>
        -->

         <!-- Allow non-local clients. These clients connect to the -->
         <!-- backend using a HTTP tunnel. Default is Off. -->
         <!-- Leave this off if your server is connected to the internet. --> 
       <!--
         <init-param>
           <param-name>allow_http_tunnel</param-name>
           <param-value>On</param-value>
         </init-param>
        -->

         <!-- Default log_level is 2, java.log_level from php.ini overrides.-->
        <!--
         <init-param>
           <param-name>servlet_log_level</param-name>
           <param-value>2</param-value>
         </init-param>
        -->
  </servlet>


    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <!-- PHP Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>PhpJavaServlet</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>

    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.php</welcome-file>
    </welcome-file-list>

</web-app>
