/** java security policy for the PHP/Java Bridge standalone container
  * see also the Security Enhanced Linux policy files located in
  * the ../security/ folder
   */

grant codeBase "file:${php.java.bridge.base}/JavaBridge.jar" {
  permission java.security.AllPermission;
};

grant {
  permission java.io.FilePermission "${user.home}${/}-", "read,write,delete";
  permission java.io.FilePermission "${java.io.tmpdir}${/}-", "read,write,delete";
  permission java.io.FilePermission "${java.home}${/}-", "read";

  permission java.util.PropertyPermission "*", "read";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.tools.*";
};
